* {
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-primary);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: scale;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

:root {
  --background: #fbfffe;
  --text-primary: #171738;
  --text-secondary: rgb(146, 146, 146);
  --text-tertiary: #5eead4;
}

[data-theme='dark'] {
  --background: #171738;
  --text-primary: #fbfffe;
  --text-secondary: rgb(109, 106, 106);
}

[data-theme='dark'] .darktheme {
  display: flex;
}

[data-theme='light'] .lighttheme {
  display: flex;
}

.darktheme,
.lighttheme {
  display: none;
}

html {
  scroll-behavior: smooth;
}
